<div id="bodyHome">
    <h1>HOME</h1>
    <div id="navList">
        <ul>
            <li>Home</li>
            <li>Photo/Video</li>
            <li>Code</li>
            <li>About</li>
        </ul>
    </div>
</div>

<div class="header">
    Explore projects by dragging canvas
</div>
<div class="container">
    <div class="row">
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
    </div>
    <div class="row">
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
    </div>
    <div class="row">
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
    </div>
    <div class="row">
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
    </div>
    <div class="row">
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
        <div class=" block"></div>
    </div>

</div>
<script>
    var element = document.querySelector(".container");

    panzoom(element, {
        minZoom: 1,
        maxZoom: 1
    });
</script>